*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    background-image: url(../img/bg2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 20px 20px;
}
p, h1, h2{
    font-family: 'Dancing Script', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
}
.container .header{
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
}
.container .header .header_left h1,p{
    color: #F0EEE9;
    margin-bottom: 5px;
}
.container .header .header_right ul{
    display: flex;
    list-style: none;
}
.container .header .header_right ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    background-color: #D0CFD4;
    width: 30px;
    height: 30px;
    border-radius: 10%;
}
.container .main {
    width: 90%;
    height: 70vh;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}
.active {
    display: none;
}
.complete {
    text-decoration: line-through;
}
.container .main .list{
    width: 100%;
    height: 75vh;
}
.container .main .list #u_list li{
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 50px;
    background-color: #88bb91;
    margin-bottom: 7px;
    border-radius: 5px;
    font-size: 22px;
    color: #850d5d;
    position: relative;

}
.container .main .list #u_list li input{
    width: 8%;
    cursor: pointer;
}
.fa-star {
    cursor: pointer;
    position: absolute;
    right: 20px;
    color: #ffffff;
}
.liked {
    color: rgb(255, 153, 0);
}
.hr{
    margin: 15px 0px;
    height: 5px;
}
.container .main .list #done_list li{
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 50px;
    background-color: #aa7d8f;
    margin-bottom: 7px;
    border-radius: 5px;
    font-size: 22px;
    color: #62f381;
    position: relative;
}
.container .main .list #done_list li input{
    width: 10%;
    cursor: pointer;
}
.container .main .alert{
    text-align: center;
    width: 430px;
    height: 300px;
    border-radius: 10px;
    padding: 30px 10px;
    margin-top: 100px;
    background-color: #6c9177;
}
.container .main .alert img{
    width: 90px;
    margin-bottom: 20px;
    border-radius: 5px;
    transform: rotate(20deg);
}
.container .main .alert h3{
    margin-bottom: 10px;
    color: #F0EEE9;
}
.container .main .alert p{
    opacity: 0.7;
}
.container .footer{
    width: 90%;
    height: 10vh;
    margin: 0 auto;
}
.container .footer .add_list{
    display: flex;
    align-items: center;
    background-color: #D0CFD4;
    height: 50px;
    padding-left: 20px;
    border-radius: 5px;
}
.fa-plus{
    font-size: 29px;
    font-weight: 800;
}
.container .add_list input{
    width: 100%;
    height: 50px;
    background-color: #D0CFD4;
    border: none;
    padding-left: 20px;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
}
